/* Font Family*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/*------------*/
/* National CSS */
.btn-primary{
   background-color: #FF42A5;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 20px;
   border-radius: 48px;
   border: none;
   padding: 11px 30px;
}
.common-clr{
    color: #FF42A5;
}


/* HEADER START */


header{
    padding: 40px 240px;
}
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    float: left;
}
.logo-name{
    font-size: 2.8125rem;
    font-weight: 700;
}
.game-logo{
    display: flex;
}
.head > ul{
    display: flex;
    align-items: center;
}
.head li{
    list-style: none;
    margin-right: 30px;
}
.head li a{
    color: #3C354F;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.head-btn{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    color: #3C354F;
    padding: 10px 24px;
    border: none;
    display: flex;
}
.head-btn i{
    padding-left: 18px;
    font-size: 1rem;
}
/* HEADER END */

/* Main START */

/* SECTION 1 */

.section1{
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
}
.play{
    padding-top: 148px;
}
.play-head{
    color: #0B0223;
    font-size: 28px;
    font-weight: 600;
}
.play-head2{
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.play p{
    color: #534C64;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding-top: 10px;
}
.play p img{
    padding-right: 10px;
}
.icon-img{
    padding-top: 24px;
}
.play-img img{
    width: 450px;
    height: 470px;
    padding-top: 19px;
}
.btn-blue{
    background-color: #4EC5F7;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 48px;
    border: none;
    padding: 11px 30px;
}
.main-btn{
    padding-top: 40px;
}

/* SECTION 2 */

.game-vdo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 200px;
    gap: 20px;
}
.game-vdo img{
    width: 200px;
    height: 260px;
}
.online-game{
    text-align: center;
    padding-top: 120px;
}
.online-head{
    color: #0B0223;
    font-weight: 700;
    font-size: 48px;
}
.fv{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-dec{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.card-dec{
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    max-width: 200px;
}

/* SECTION 03 */

.section3{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding: 0px 240px;
}
.big-pic img{
    width: 334px;
    height: 350px;
}
.small-pic img{
    width: 170px;
    height: 185px;
}
.small-pic{
    position: relative;
    bottom: 150px;
    right: 80px;
}
.features-head{
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
}
.features-dec{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    width: 300px;
}
.features{
    padding-top: 100px;
}


/* SECTION 04 */



.section4{
    padding: 0px 240px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; 
}
.btn{
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 5px;
}
.btn:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
}
.section4 img{
    width: 30px;
    height: 30px;
}
/* MAIN END */

/* FOOTER START */

footer{
    background-color: #0B0223;
    margin: 30px 0px;
}
.foot{
    padding: 80px 300px;
}
.foot-head{
    display: flex;
    justify-content: space-between;
}
.foot-head p{
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding-top: 20px;
}
.foot-icon{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 30px;
    font-size: 30px;
}
.foot-dec p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    padding-left: 20px;
    padding-top: 40px;
    
}
.foot-dec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-finish p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    padding-top: 40px;
}
.foot-finish{
        display: flex;
        align-items: center;
        justify-content: center;
}

.game-logo2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
}



@media screen and (max-width:576px){
    .section1
    {
        flex-direction: column-reverse;
    }
    nav,
    ul,
    li,
    .game-vdo,
    .section3,
    .foot
    {
        flex-direction: column;
    }
    .section4,
    .section1,
    .section3,
    .play,
    .features,
    .foot{
        padding: 0px;
        text-align: center;
    }
    .icon-img{
        padding-left: 40px;
    }
    li,
    ul{
        padding-top: 30px;
    }
    .features-dec{
        padding-left: 80px;
        padding-top: 30px;
    }
    .features-img{
        padding-top: 50px;

    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
    }
    .foot-head,
    .foot-icon
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .small-pic{
        right: 150px;
    }
    .foot{
        padding: 70px 0px;
    }
    .play-img img{
        width: 350px;
        height: 370px;
        padding: 0px;
    }
}